{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} Promouvoir admin{% endblock %}

{% block content %}
<div class="formlogin">
    <h2>Promouvoir {{ user.nom }} {{ user.prenom }} au role <strong>ROLE_ADMIN</strong> ?</h2>
    <br>
    <h3>Entrer le code secret pour confirmer</h3>

        {{ form(form )}}
</div>

    <footer class="footertelandtab">
       <div> © 2020 Copyright:
            <a class="text-dark" href="https://mdbootstrap.com/">zaafit.site</a>
        </div>
        <div>
            <a href="{{ path('blog')}}" class="footerlink text-dark">Blog</a>
            <a href="mailto:manon.trefoux@gmail.com" class="footerlink text-dark">Contact</a>
            <a href="{{ path('app_mentions_legales')}}" class="footerlink text-dark">Mentions légales</a>
            <a href="{{ path('app_pol_confidentialite')}}" class="footerlink text-dark">Politique de confidentialité</a>

        </div>
    </footer>
{% endblock %}