{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} Tout nos articles {% endblock %}

{% block content %}
{% if is_granted('ROLE_ADMIN') %}
    <p><a href="{{ path('app_blog_article_create')}} ">Créer un article</a></p>
    {% endif %}

<h1 class="titreblog text-center h2">Tous nos articles</h1>
 <nav class="secondheaderblog navbar-fixed-top">
        <ul class= "d-flex justify-content-center pt-1">
            <li>
                <a class="nav-item nav-link" href="{{ path('blog') }}">ACCUEIL</a>
            </li>
        {% for categorie in allcategories %}
            <li>
                <a class="nav-item nav-link" href="{{ path('app_blog_categorie', {'id': categorie.id} ) }}">{{ categorie.nom }}</a>
            </li>
            {% endfor %}
            <li>
                <a class="nav-item nav-link" href="{{ path('app_blog_article_showAll') }}">TOUS LES ARTICLES</a>
            </li>
        </ul>
    </nav>
    <table class="table">
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>
        
        <tbody>
        {% for article in allArticles %}
            <tr>
                <th scope="row">
                    <a href="{{ path('app_blog_article', {'id': article.id}) }}" class="link-all-articles">
                        {{ article.titre }}
                    </a>
                </th>
                <td>
                <a href="{{ path('app_blog_article', {'id': article.id}) }}" class="link-all-articles">
                   {% autoescape false %} {{ article.contenu|u.truncate(200, '...')}} {% endautoescape %}
                </a>
                </td>
                <td>
                    <p>Publié le:</p>
                    {{ article.dateCreation | date('d/m/Y')}}
                </td>
                <td>
                <figure>
                    <a href="{{ path('app_blog_article', {'id': article.id}) }}" class="link-all-articles">
                        <img src=" {{ asset('images/imgarticle/' ~ article.image) }}" alt="article-img"class="figure-img img-fluid rounded img-articles-showall">
                    </a>
                </figure>
                </td>
                    {% if is_granted('ROLE_ADMIN') %}
                        <td>
                            <a href="{{ path('app_blog_article_delete', {'id': article.id}) }}"  onclick="return confirm('Etes-vous sure de vouloir supprimer cet article?')">
                            Supprimer
                            </a>
                        
                            <a href="{{ path('app_blog_article_update', {'id': article.id}) }}">
                            Éditer
                            </a>
                            </td>
                    {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}

