{% extends 'home/index.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block content %}

<div class="formregister">
<div class="img-register">
        <img class="img-login" src="{{ asset('img/register.svg') }}" alt="img-register">
        <h1>Inscription</h1>
        </div>       
        {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.nom) }}
        {{ form_row(registrationForm.prenom) }}
        <div class="formphotoprofil">
        <p>Séléctionnez une photo de profil</p>
        {{ form_row(registrationForm.imageFile) }}
        </div>
        
        <div class = "d-flex justify-content-between">
            <p>Votre taille en cm</p>
            {{ form_row(registrationForm.taille_user) }}
        </div>
        <div class = "d-flex justify-content-between">
            <p>Votre poids actuel</p>
            <div class="form-group">
                <label  for="inputPoids">Votre poids actuel</label>
                <input name="poids_user" id="inputPoids" class="form-control" placeholder="00.0">
            </div>
        </div>
        <div class = "d-flex justify-content-between">
            <p>Votre objectif de poids</p>
            {{ form_row(registrationForm.objectif_poids) }}
        </div>

        {{ form_row(registrationForm.sexe) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword) }}
    
        <button type="submit" class="btn btn-login mb-2 mt-1">S'inscrire</button>
        {{ form_end(registrationForm) }}

</div>
    <footer class="footertelandtab">
       <div> © 2020 Copyright:
            <a class="text-dark" href="https://mdbootstrap.com/">zaafit.site</a>
        </div>
        <div>
            <a href="{{ path('blog')}}" class="footerlink text-dark">Blog</a>
            <a href="mailto:manon.trefoux@gmail.com" class="footerlink text-dark">Contact</a>
            <a href="{{ path('app_mentions_legales')}}" class="footerlink text-dark">Mentions légales</a>
        </div>
    </footer>

{% endblock %}
