{% extends 'home/index.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block content %}

<div class="container mt-5 mb-5 col-6">

<div class="register bg-light">
    <h1>Inscription</h1>

    {{ form_row(registrationForm.user.nom) }}
    {{ form_row(registrationForm.user.prenom) }}
    <div class = "d-flex justify-content-between">
        <p>Séléctionnez une photo de profil</p>
        {{ form_row(registrationForm.user.imageFile) }}
    </div>
    <div class = "d-flex justify-content-between">
        <p>Votre taille en cm</p>
        {{ form_row(registrationForm.user.taille_user) }}
    </div>
    <div class = "d-flex justify-content-between">
        <p>Votre poids actuel</p>
        {{ form_row(registrationForm.poids.user_poids) }}
    </div>
    <div class = "d-flex justify-content-between">
        <p>Votre objectif de poids</p>
        {{ form_row(registrationForm.user.objectif_poids) }}
    </div>

    {{ form_row(registrationForm.user.sexe) }}
    {{ form_row(registrationForm.user.email) }}
    {{ form_row(registrationForm.plainPassword) }}
    {{ form_row(registrationForm.user.agreeTerms) }}

    <button type="submit" class="btn btn-primary mb-2 mt-1">S'inscrire</button>
</div>

</div>
{% endblock %}
