{% extends 'home/index.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block content %}

<div class="container mt-5 mb-5 col-6">

<div class="register bg-light">
    <h1>Inscription</h1>
    {{ form_start(registrationForm) }}
    {{ form_row(registrationForm.nom) }}
    {{ form_row(registrationForm.prenom) }}
    <div class = "d-flex justify-content-between">
    <p>Séléctionnez une photo de profil</p>
    {{ form_row(registrationForm.imageFile) }}
    </div>
    {{ form_row(registrationForm.email) }}
    {{ form_row(registrationForm.plainPassword, {label: 'Password'}) }}
    {{ form_row(registrationForm.agreeTerms) }}

    <button type="submit" class="btn btn-primary mb-2 mt-1">S'inscrire</button>
    {{ form_end(registrationForm) }}
</div>

</div>
{% endblock %}
