{% extends 'home/index.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block content %}

<div class="container mt-5 mb-5 col-6">

    <div class="register bg-light">
        <h1>Inscription</h1>
        {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.nom) }}
        {{ form_row(registrationForm.prenom) }}
        <div class = "d-flex justify-content-between">
            <p>Séléctionnez une photo de profil</p>
            {{ form_row(registrationForm.imageFile) }}
        </div>
        <div class = "d-flex justify-content-between">
            <p>Votre taille en cm</p>
            {{ form_row(registrationForm.taille_user) }}
        </div>
        <div class = "d-flex justify-content-between">
            <p>Votre poids actuel</p>
            <div class="form-group">
                <label  for="inputPoids">Votre poids actuel</label>
                <input name="poids_user" id="inputPoids" class="form-control" placeholder="00.0">
            </div>
        </div>
        <div class = "d-flex justify-content-between">
            <p>Votre objectif de poids</p>
            {{ form_row(registrationForm.objectif_poids) }}
        </div>

        {{ form_row(registrationForm.sexe) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword) }}
        {{ form_row(registrationForm.agreeTerms) }}
    
        <button type="submit" class="btn btn-primary mb-2 mt-1">S'inscrire</button>
        {{ form_end(registrationForm) }}
    </div>

</div>
<footer class="footerfixedbottom">

{% endblock %}
