{% extends 'base.html.twig' %}

{% block title %}Password Reset Email Sent{% endblock %}

{% block content %}
    <p>
        An email has been sent that contains a link that you can click to reset your password.
        This link will expire in {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
    </p>
    <p>If you don't receive an email please check your spam folder or <a href="{{ path('app_forgot_password_request') }}">try again</a>.</p>

        <footer class="footertelandtab">
       <div> © 2020 Copyright:
            <a class="text-dark" href="https://mdbootstrap.com/">zaafit.site</a>
        </div>
        <div>
            <a href="{{ path('blog')}}" class="footerlink text-dark">Blog</a>
            <a href="mailto:manon.trefoux@gmail.com" class="footerlink text-dark">Contact</a>
            <a href="{{ path('app_mentions_legales')}}" class="footerlink text-dark">Mentions légales</a>
            <a href="{{ path('app_pol_confidentialite')}}" class="footerlink text-dark">Politique de confidentialité</a>

        </div>
    </footer>
{% endblock %}
