{% extends 'base.html.twig' %}

<h1>Bonjour !</h1>
{% block content %}


<p>Pour réinitialiser votre mot de passe veuillez cliquer sur le lien suivant</p>

<a href="{{ url('app_reset_password', {token: resetToken.token}) }}">{{ url('app_reset_password', {token: resetToken.token}) }}</a>

<p>Ce lien expire dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.</p>

<p>Merci!</p>

    <footer class="footertelandtab">
       <div> © 2020 Copyright:
            <a class="text-dark" href="https://mdbootstrap.com/">zaafit.site</a>
        </div>
        <div>
            <a href="{{ path('blog')}}" class="footerlink text-dark">Blog</a>
            <a href="mailto:manon.trefoux@gmail.com" class="footerlink text-dark">Contact</a>
            <a href="{{ path('app_mentions_legales')}}" class="footerlink text-dark">Mentions légales</a>
            <a href="{{ path('app_pol_confidentialite')}}" class="footerlink text-dark">Politique de confidentialité</a>

        </div>
    </footer>
    {% endblock %}