{% extends 'base.html.twig' %}

{% block title %}Reinitialisation du mot de passe{% endblock %}

{% block content %}
<div class="formlogin">
    {% for flashError in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}
    <h1>Reinitialisation du mot de passe</h1>

    {{ form_start(requestForm) }}
        {{ form_row(requestForm.email) }}
        <div>
            <small>
                Entrez votre adresse mail pour recevoir un lien de réintialisation du mot de passe.
            </small>
        </div>

        <button class="btn btn-primary">Envoyer le lien de réinitialisation</button>
    {{ form_end(requestForm) }}
</div>
    <footer class="footertelandtab">
       <div> © 2020 Copyright:
            <a class="text-dark" href="https://mdbootstrap.com/">zaafit.site</a>
        </div>
        <div>
            <a href="{{ path('blog')}}" class="footerlink text-dark">Blog</a>
            <a href="mailto:manon.trefoux@gmail.com" class="footerlink text-dark">Contact</a>
            <a href="{{ path('app_mentions_legales')}}" class="footerlink text-dark">Mentions légales</a>
            <a href="{{ path('app_pol_confidentialite')}}" class="footerlink text-dark">Politique de confidentialité</a>

        </div>
    </footer>
{% endblock %}