{% extends 'users.html.twig' %}

{% block title %}Repas - {{ app.user.prenom }} {{ app.user.nom }}{% endblock %}

{% block content %}
<div class="containerFoodAndSportUser">
<div class="grid-container-foodandsport">
    <nav class="navmenuburgerfoodandsport">
        <a href="{{ path('poids')}}" class="btnWeight btn">+&nbsp;&nbsp;Ajouter poids</a>
        <a href="{{ path('poids')}}" class="btnWeightTabAndTel btn">+</a>
        <div class=" menuburger">
            <div class="d-flex align-items-center">
                {% if app.request.get('_route') == 'users' %}
                <a href="{{ path('users') }}" class="nav-link">
                        <img class="icons"src="{{ asset('img/iconhomeblue.svg') }}" alt="">
                <span class="icon-text-menu"> Home</span>

                </a>
                {% else %}
                <a class="nav-link" href="{{ path('users')}}">
                    <img class="icons"src="{{ asset('img/iconhome.svg') }}" alt="">
                  <span class="icon-text-menu"> Home</span>

                </a>
                {% endif %}
            </div>

            <div class="d-flex align-items-center">
                {% if app.request.get('_route') == 'food_user' %}
                <a class="nav-link" href="{{ path('food_user')}}">
                    <img class="icons"src="{{ asset('img/iconrepasblue.svg') }}" alt="">
                <span class="icon-text-menu"> Repas</span>

                </a>
                {% else %}
                <a class="nav-link" href="{{ path('food_user')}}">
                    <img class="icons"src="{{ asset('img/iconrepas.svg') }}" alt="">
                <span class="icon-text-menu"> Repas</span>
                </a>
                {% endif %}

            </div>

            <div class="d-flex align-items-center">
                {% if app.request.get('_route') == 'sport' %}
                <a class="nav-link" href="{{ path('sport')}}">
                    <img class="icons"src="{{ asset('img/iconactivitesblue.svg') }}" alt="">
                <span class="icon-text-menu"> Exercices</span>
                </a>
                {% else %}
                <a class="nav-link" href="{{ path('sport')}}">
                    <img class="icons"src="{{ asset('img/iconactivites.svg') }}" alt="">
                <span class="icon-text-menu"> Exercices</span>
                </a>
                {% endif %}
            </div>

            <div class="d-flex align-items-center">
                <a class="nav-link" href="{{ path('blog')}}">
                    <img class="icons"src="{{ asset('img/blogzaafiticon.svg') }}" alt="">
                <span class="icon-text-menu"> Blog</span>
                </a>
            </div>
        </div>
    </nav>

    <div class="formfoodandsport mt-3">
        <h2 class="text-center">Ajoutez vos repas en fin de journée:</h2>
            {{ form_start(form)}}
                <p>Selectionnez la date</p>
            {{ form_row(form.date_jour_repas) }}
  
                <p>Petit déjeuner</p>
            {{ form_row(form.petit_dejeuner) }}
                <p>Déjeuner</p>
            {{ form_row(form.dejeuner) }}
                <p>Encas</p>
            {{ form_row(form.encas) }}
                <p>Diner</p>
            {{ form_row(form.diner) }}
                <p>Note de la journée</p>
            {{ form_row(form.note_journee) }}
                <button type="submit" class="btn-primary btn mt-3">Envoyer</button>
            {{ form_end(form)}}
    </div>

    <div class="arrayfoodandsport mt-5">
        <h2 class="text-center">Suivi des derniers repas</h2>
        <table class="table table-bordered mt-3">
            <thead>
                <tr>
                    <th scope="col">Date</th>
                    <th scope="col">Petit Déjeuner</th>
                    <th scope="col">Déjeuner</th>
                    <th scope="col">Encas</th>
                    <th scope="col">Diner</th>
                    <th scope="col">Note de la journée</th>
                </tr>
            </thead>

            <tbody>
                {% for food in userHistoricalFood %}
                <tr>
                    <th scope="row">{{ food.date_jour_repas| date('d/m/Y') }}</th>
                    <td>{{ food.petit_dejeuner }}</td>
                    <td>{{ food.dejeuner }}</td>
                    <td>{{ food.encas }}</td>
                    <td>{{ food.diner }}</td>
                    <td>{{ food.note_journee }}</td>
                    <td>
                        <a href="{{ path('app_food_delete', {'id': food.id}) }}"  onclick="return confirm('Etes-vous sure de vouloir supprimer cet     exercice?')">
                            Supprimer
                        </a>
                    </td>
                    <td>   
                        <a href="{{ path('app_food_update', {'id': food.id}) }}">
                            Éditer
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
</div>

{% endblock %}