{% extends 'base.html.twig' %}

{% block title %} Blog zaafit|liste des articles {% endblock %}

{% block content %}

<h1 class="text-center h2 titreblog">ZaaFit, votre coach bien-être</h1>
<div class="grid-container-blog-accueil align-items-center ">
    <nav class="secondheaderblog navbar-fixed-top">
        <ul class= "d-flex justify-content-center pt-1">
        {% for categorie in allcategories %}
            <li>
                <a class="nav-item nav-link" href="{{ path('app_blog_categorie', {'id': categorie.id} ) }}">{{ categorie.nom }}</a>
            </li>
             {% endfor %}
            <li>
                <a class="nav-item nav-link" href="{{ path('app_blog_article_showAll') }}">TOUS LES ARTICLES</a>
            </li>
        </ul>
    </nav>
    <div class="dietetiqueblog">
    
        <h2>Dietetique</h2>
        {% for article in categoriediet.articles|slice(0, 1) %}
        <div class="big-article-blog">
            <a class="" href="{{ path('app_blog_article', {'id': article.id} ) }}">
                <img src="{{ asset('images/imgarticle/' ~ article.image) }}" alt="article-img-dietetique" class="figure-img img-fluid rounded">
            </a>
            <h3>{{ article.titre }}</h3>
            <p>Publié le {{ article.date_creation| date('d/m/Y')}}</p>
            <p>{% autoescape false %} {{ article.contenu|u.truncate(100, '...')}} {% endautoescape %}</p>
        </div>
        {% endfor %}
        <div class="small-article-diet-blog ">
                {% for article in categoriediet.articles|slice(1, 2) %}

            <a href="{{ path('app_blog_article', {'id': article.id} ) }}">
                <img src="{{ asset('images/imgarticle/' ~ article.image) }}" alt="article-img-dietetique" class="figure-img img-fluid rounded">
            </a>
            <div>
                <p>{{article.titre}}</p>
                <p>{{ article.date_creation| date('d/m/Y')}}</p>
            </div>
            <hr>
        {% endfor %}

        </div>
    </div>

    <div class="cardioblog">
    <h2>Cardio</h2>
        
        <div class="big-article-blog">
        {% for article in categoriecardio.articles|slice(0, 1) %}
            <a class="" href="{{ path('app_blog_article', {'id': article.id} ) }}">
                <img src="{{ asset('images/imgarticle/' ~ article.image) }}" alt="" class="figure-img img-fluid rounded">
            </a>
            <h3>{{ article.titre }}</h3>
            <p>Publié le {{ article.date_creation| date('d/m/Y')}}</p>
            <p>{% autoescape false %} {{ article.contenu|u.truncate(100, '...')}} {% endautoescape %}</p>
             {% endfor %}
        </div>
       
        
        <div class="small-article-cardio-blog ">
        {% for article in categoriecardio.articles|slice(1, 2) %}
            <a href="{{ path('app_blog_article', {'id': article.id} ) }}">
                <img src="{{ asset('images/imgarticle/' ~ article.image) }}" alt="" class=" mb-2 img-fluid rounded">
            </a>
            <div>
                <p>{{article.titre}}</p>
                <p>{{ article.date_creation| date('d/m/Y')}}</p>
            </div>
            <hr>
             {% endfor %}
        </div>
       
       
    </div>

    <div class="muscublog">
      <h2 class="" >Musculation</h2>
        {% for article in categoriemuscu.articles|slice(0, 1) %}
        <div class="big-article-blog">
            <a class="" href="{{ path('app_blog_article', {'id': article.id} ) }}">
                <img src="{{ asset('images/imgarticle/' ~ article.image) }}" alt="article-img-musculation" class="figure-img img-fluid rounded">
            </a>
            <h3>{{ article.titre }}</h3>
            <p>Publié le {{ article.date_creation| date('d/m/Y')}}</p>
            <p>{% autoescape false %} {{ article.contenu|u.truncate(100, '...')}} {% endautoescape %}</p>
        </div>
        {% endfor %}
        <div class="small-article-muscu-blog  ">
                {% for article in categoriemuscu.articles|slice(1, 2) %}

            <a href="{{ path('app_blog_article', {'id': article.id} ) }}">
                <img src="{{ asset('images/imgarticle/' ~ article.image) }}" alt="article-img-musculation" class="figure-img img-fluid rounded">
            </a>
            <div>
                <p>{{article.titre}}</p>
                <p>{{ article.date_creation| date('d/m/Y')}}</p>
            </div>
            <hr>
                    {% endfor %}
        </div>
    </div>
    <div class= "santeblog mt-5">
    <h2>Santé</h2>
        <div class="d-flex justify-content-around santeblogtel">
         {% for article in categoriesante.articles|slice(0, 3) %}
            <div class="articlessanteblog">
                <a href="{{ path('app_blog_article', {'id': article.id} ) }}">
                    <img src="{{ asset('images/imgarticle/' ~ article.image) }}" alt="article-img-santé" class="figure-img img-fluid rounded">
                </a>
                <div>
                    <h3>{{ article.titre }}</h3>
                    <p>Publié le {{ article.date_creation| date('d/m/Y')}}</p>
                </div>
            </div>
            {% endfor %}
        </div>

    </div>
</div>


{% endblock %}