<!DOCTYPE html>
<html>

    <head>
        <script type="text/javascript" src={{ asset('tarteaucitron/tarteaucitron.js') }}></script>

        <script type="text/javascript">
        tarteaucitron.init({
    	  "privacyUrl": "", /* Privacy policy url */

    	  "hashtag": "#tarteaucitron", /* Open the panel with this hashtag */
    	  "cookieName": "tarteaucitron", /* Cookie name */
    
    	  "orientation": "middle", /* Banner position (top - bottom) */
       
          "groupServices": false, /* Group services by category */
                           
    	  "showAlertSmall": false, /* Show the small banner on bottom right */
    	  "cookieslist": false, /* Show the cookie list */
                           
          "closePopup": false, /* Show a close X on the banner */

          "showIcon": true, /* Show cookie icon to manage cookies */
          //"iconSrc": "", /* Optionnal: URL or base64 encoded image */
          "iconPosition": "BottomRight", /* BottomRight, BottomLeft, TopRight and TopLeft */

    	  "adblocker": false, /* Show a Warning if an adblocker is detected */
                           
          "DenyAllCta" : true, /* Show the deny all button */
          "AcceptAllCta" : true, /* Show the accept all button when highPrivacy on */
          "highPrivacy": true, /* HIGHLY RECOMMANDED Disable auto consent */
                           
    	  "handleBrowserDNTRequest": false, /* If Do Not Track == 1, disallow all */

    	  "removeCredit": false, /* Remove credit link */
    	  "moreInfoLink": true, /* Show more info link */

          "useExternalCss": false, /* If false, the tarteaucitron.css file will be loaded */
          "useExternalJs": false, /* If false, the tarteaucitron.js file will be loaded */

    	  //"cookieDomain": ".my-multisite-domaine.fr", /* Shared cookie for multisite */
                          
          "readmoreLink": "", /* Change the default readmore link */

          "mandatory": true, /* Show a message about mandatory cookies */
        });        </script>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Zaafit{% endblock %}</title>
        {% block stylesheets %}
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
            <link rel="shortcut icon" href="{{ asset('img/logoicon.svg') }}">
            <link rel="stylesheet" href="{{ asset('css/zaafit.css') }} ">
            <link rel="preconnect" href="https://fonts.gstatic.com">
            <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,400;1,700&display=swap" rel="stylesheet">
        {% endblock %}
    </head>

    
    {% block header %}
     <header class= "headerhome">
        <a  href="{{path('home')}}"><img class="logo" src="{{ asset('img/zaafitlogo.webp') }}" alt="logo zafit"></a>
        <div class="btnheaderhomepc">
            {% if app.user %}
            <button type="button" class="buttonregister">
            <a href="{{path('users')}}">Tableau de bord</a> </button>
            <button type="button" class="buttonlogin"><a href=" {{path('app_logout') }}">Deconnexion</a></button>
            {% else %} 
            <button type="button" class="buttonregister">
            <a href="{{path('app_register')}}">S'inscrire</a> </button>
            <button type="button" class="buttonlogin"><a href=" {{path('app_login') }}">Connexion</a></button>
            {% endif %}        
        </div>
        <div class="btnheaderhometabandtel dropdown">
              <button class="btn btn-light dropdown-toggle btndropresponsive" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <img src="{{ asset('img/menuburger.svg') }}" alt="responsive-btn-deroulant">
        </button> 
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    {% if app.user %}
                        <a class="dropdown-item" href="{{path('users')}}">Tableau de bord</a>
                        <a class="dropdown-item" href="{{path('app_logout') }}">Deconnexion</a>
                    {% else %}
                        <a class="dropdown-item" href="{{path('app_register')}}">S'inscrire</a>
                        <a class="dropdown-item" href="{{path('app_login') }}">Connexion</a>
                    {% endif %}
                </ul>
            </div>
        </div>
    </header>
{% endblock %}


{% block content %}
{% endblock %}

    <footer class="footertelandtab">
       <div> © 2020 Copyright:
            <a class="text-dark" href="https://mdbootstrap.com/">zaafit.fr</a>
        </div>
        <div>
            <a href="{{ path('blog')}}" class="footerlink text-dark">Blog</a>
            <a href="mailto:manon.trefoux@gmail.com" class="footerlink text-dark">Contact</a>
            <a href="{{ path('app_mentions_legales')}}" class="footerlink text-dark">Mentions légales</a>
            <a href="{{ path('app_pol_confidentialite')}}" class="footerlink text-dark">Politique de confidentialité</a>

        </div>
    </footer>
{% if app.request.get('_route') == 'blog'%}
    <footer class='footerblog'>
            <div> © 2020 Copyright:
                <a class="text-dark" href="https://mdbootstrap.com/">zaafit.site</a>
            </div>
            <div>
            <a href="{{ path('blog')}}" class="footerlink text-dark">Blog</a>
            <a href="mailto:manon.trefoux@gmail.com" class="footerlink text-dark">Contact</a>
            <a href="{{ path('app_mentions_legales')}}" class="footerlink text-dark">Mentions légales</a>
            <a href="{{ path('app_pol_confidentialite')}}" class="footerlink text-dark">Politique de confidentialité</a>
            </div>
    </footer>
{% elseif app.request.get('_route') == 'app_promotetoadmin'%}
    <footer class='footerfixedbottom'>
            <div> © 2020 Copyright:
                <a class="text-dark" href="https://mdbootstrap.com/">zaafit.site</a>
            </div>
            <div>
            <a href="{{ path('blog')}}" class="footerlink text-dark">Blog</a>
            <a href="mailto:manon.trefoux@gmail.com" class="footerlink text-dark">Contact</a>
            <a href="{{ path('app_mentions_legales')}}" class="footerlink text-dark">Mentions légales</a>
            <a href="{{ path('app_pol_confidentialite')}}" class="footerlink text-dark">Politique de confidentialité</a>
            </div>
    </footer>
{% elseif app.request.get('_route') == 'app_login'%}
    <footer class='footerfixedbottom'>
            <div> © 2020 Copyright:
                <a class="text-dark" href="https://mdbootstrap.com/">zaafit.fr</a>
            </div>
            <div>
            <a href="{{ path('blog')}}" class="footerlink text-dark">Blog</a>
            <a href="mailto:manon.trefoux@gmail.com" class="footerlink text-dark">Contact</a>
            <a href="{{ path('app_mentions_legales')}}" class="footerlink text-dark">Mentions légales</a>
            <a href="{{ path('app_pol_confidentialite')}}" class="footerlink text-dark">Politique de confidentialité</a>
            </div>
    </footer>
{% elseif app.request.get('_route') == 'users_pass_edit'%}
    <footer class='footerfixedbottom'>
            <div> © 2020 Copyright:
                <a class="text-dark" href="https://mdbootstrap.com/">zaafit.fr</a>
            </div>
            <div>
            <a href="{{ path('blog')}}" class="footerlink text-dark">Blog</a>
            <a href="mailto:manon.trefoux@gmail.com" class="footerlink text-dark">Contact</a>
            <a href="{{ path('app_mentions_legales')}}" class="footerlink text-dark">Mentions légales</a>
            <a href="{{ path('app_pol_confidentialite')}}" class="footerlink text-dark">Politique de confidentialité</a>
            </div>
    </footer>
{% elseif app.request.get('_route') == 'app_forgot_password_request'%}
    <footer class='footerfixedbottom'>
            <div> © 2020 Copyright:
                <a class="text-dark" href="https://mdbootstrap.com/">zaafit.fr</a>
            </div>
            <div>
            <a href="{{ path('blog')}}" class="footerlink text-dark">Blog</a>
            <a href="mailto:manon.trefoux@gmail.com" class="footerlink text-dark">Contact</a>
            <a href="{{ path('app_mentions_legales')}}" class="footerlink text-dark">Mentions légales</a>
            <a href="{{ path('app_pol_confidentialite')}}" class="footerlink text-dark">Politique de confidentialité</a>
            </div>
    </footer>
{% elseif app.request.get('_route') == 'app_check_email'%}
    <footer class='footerfixedbottom'>
            <div> © 2020 Copyright:
                <a class="text-dark" href="https://mdbootstrap.com/">zaafit.fr</a>
            </div>
            <div>
            <a href="{{ path('blog')}}" class="footerlink text-dark">Blog</a>
            <a href="mailto:manon.trefoux@gmail.com" class="footerlink text-dark">Contact</a>
            <a href="{{ path('app_mentions_legales')}}" class="footerlink text-dark">Mentions légales</a>
            <a href="{{ path('app_pol_confidentialite')}}" class="footerlink text-dark">Politique de confidentialité</a>
            </div>
    </footer>
{% elseif app.request.get('_route') == 'app_register'%}
    <footer class='footerfixedbottom'>
            <div> © 2020 Copyright:
                <a class="text-dark" href="https://mdbootstrap.com/">zaafit.fr</a>
            </div>
            <div>
            <a href="{{ path('blog')}}" class="footerlink text-dark">Blog</a>
            <a href="mailto:manon.trefoux@gmail.com" class="footerlink text-dark">Contact</a>
            <a href="{{ path('app_mentions_legales')}}" class="footerlink text-dark">Mentions légales</a>
            <a href="{{ path('app_pol_confidentialite')}}" class="footerlink text-dark">Politique de confidentialité</a>
            </div>
    </footer>
{% elseif app.request.get('_route') == 'home'%}
    <footer class='footerfixedbottom'>
            <div> © 2020 Copyright:
                <a class="text-dark" href="https://mdbootstrap.com/">zaafit.fr</a>
            </div>
            <div>
            <a href="{{ path('blog')}}" class="footerlink text-dark">Blog</a>
            <a href="mailto:manon.trefoux@gmail.com" class="footerlink text-dark">Contact</a>
            <a href="{{ path('app_mentions_legales')}}" class="footerlink text-dark">Mentions légales</a>
            <a href="{{ path('app_pol_confidentialite')}}" class="footerlink text-dark">Politique de confidentialité</a>
            </div>
    </footer>
{% else %}
    <footer>
            <div> © 2020 Copyright:
                <a class="text-dark" href="https://mdbootstrap.com/">zaafit.site</a>
            </div>
            <div>
            <a href="{{ path('blog')}}" class="footerlink text-dark">Blog</a>
            <a href="mailto:manon.trefoux@gmail.com" class="footerlink text-dark">Contact</a>
            <a href="{{ path('app_mentions_legales')}}" class="footerlink text-dark">Mentions légales</a>
            <a href="{{ path('app_pol_confidentialite')}}" class="footerlink text-dark">Politique de confidentialité</a>
            </div>
    </footer>
{% endif %}
        <script type="text/javascript">
        tarteaucitron.user.gajsUa = 'UA-XXXXXXXX-X';
        tarteaucitron.user.gajsMore = function () { /* add here your optionnal _ga.push() */ };
        (tarteaucitron.job = tarteaucitron.job || []).push('gajs');
        </script>


        {% block javascripts %}
      
        <script src="{{ asset('js/zaafit.js') }}"></script>
        <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
            <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>            
        {% endblock %}
       

</html>