{% extends 'users.html.twig' %}

{% block title %}Modification du profil{% endblock %}

{% block content %}


<div class="bg-light formprofilupdate container">
    <figure class="modifprofilpicture">
        <img class="profilpictureform" src="{{ asset('images/products/' ~ app.user.photo) }}" alt="photo_de_profil">
    </figure>
        {{ form_start(form) }}
        <p>Nom : </p>
                {{ form_row(form.nom) }}
                <p>Prénom : </p>
                {{ form_row(form.prenom) }}
                <br>
                <p class="mb-3">
                <p>Photo de profil: <img class="profilpicture" src="{{ asset('images/products/' ~ app.user.photo) }}" alt="photo_de_profil"></p>
                {{ form_row(form.imageFile) }}
                </p>
                <p>Objectif : </p>
                {{ form_row(form.objectif_poids) }}
                <button type="submit" class="btn btn-login mb-2 mt-1">Confirmer les modications</button>
        {{ form_end(form) }}
</div>

{% endblock %}