{% extends 'users.html.twig' %}

{% block title %}Home - {{ app.user.prenom }} {{ app.user.nom }}{% endblock %}

{% block content %}
<div class="containerHomeUser">
    <div class="grid-container">
        <nav class="navmenuburger">
            <a href="{{ path('poids')}}" class="btnWeight btn">+&nbsp;&nbsp;Ajouter poids</a>
            <a href="{{ path('poids')}}" class="btnWeightTabAndTel btn">+</a>
            <div class=" menuburger">
                <div class="d-flex align-items-center">
                {% if app.request.get('_route') == 'users' %}
                <a href="{{ path('users') }}" class="nav-link">
                        <img class="icons"src="{{ asset('img/iconhomeblue.svg') }}" alt="">
                <span class="icon-text-menu"> Home</span>
                </a>
                {% else %}
                <a class="nav-link " href="{{ path('users')}}">
                    <img class="icons"src="{{ asset('img/iconhome.svg') }}" alt="">
                <span class="icon-text-menu"> Home</span>
                </a>
                {% endif %}
                </div>

                <div class="d-flex align-items-center">
                    {% if app.request.get('_route') == 'food_user' %}
                    <a class="nav-link " href="{{ path('food_user')}}">
                        <img class="icons"src="{{ asset('img/iconrepasblue.svg') }}" alt="">
                    <span class="icon-text-menu"> Repas</span>
                    </a>
                    {% else %}
                    <a class="nav-link " href="{{ path('food_user')}}">
                        <img class="icons"src="{{ asset('img/iconrepas.svg') }}" alt="">
                        <span class="icon-text-menu"> Repas</span>
                    </a>
                    {% endif %}
                </div>

                <div class="d-flex align-items-center">
                    {% if app.request.get('_route') == 'sport' %}
                    <a class="nav-link " href="{{ path('sport')}}">
                        <img class="icons"src="{{ asset('img/iconactivitesblue.svg') }}" alt="">
                    <span class="icon-text-menu"> Exercices</span>
                    </a>
                    {% else %}
                    <a class="nav-link " href="{{ path('sport')}}">
                        <img class="icons"src="{{ asset('img/iconactivites.svg') }}" alt="">
                    <span class="icon-text-menu"> Exercices</span>
                    </a>
                    {% endif %}
                </div>

                <div class="d-flex align-items-center">
                    <a class="nav-link " href="{{ path('blog')}}">
                        <img class="icons"src="{{ asset('img/blogzaafiticon.svg') }}" alt="">
                    <span class="icon-text-menu"> Blog</span>
                    </a>
                </div>
            </div>
        </nav>

        <div class="homestatsupleft homestatsup">
            <p class = " textStats datejour"> {{ dateJour|format_datetime('full', 'none' , locale='fr') |capitalize}}</p>
            <p class = " textStats heure"> {{ heure |format_datetime('none', 'short', locale='fr')}}</p>
        </div>
        <div class="homestatsupmiddle homestatsup d-flex  align-items-center justify-content-around">
            <img class="iconsKg"src="{{ asset('img/imc.svg') }}" alt="">               
            <div class="imcdiv text-center">
                <p class="textStats">IMC</p>
                <p class = "imc textStats"> {{ imc|round(1, 'floor') }}</p>
                <p class="textStats resultPoidsImc">{{ resultimc }}</p>
            </div>
        </div>
    
        <div class="homestatsupmiddleright d-flex  align-items-center justify-content-around homestatsup">
            <img class="iconsKg"src="{{ asset('img/calories-icon.svg') }}" alt="">
            <div class="imcdiv text-center">
                <p class="textStats">Calories brûlées</p>
                <p class = "textStats imc"> {{caloriesTotal}} </p>
            </div>             
        </div>
        <div class="homestatsupright homestatsup">
            <p class="imcdiv text-center textStat">Objectif</p>
            <canvas height ="85" id="myChart"></canvas>
        </div>


        <section class="homestats">
            <div id="div_chart" class="weightChart"> 
            
                <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
                <script type="text/javascript">
                    {{ gc_draw(chart, 'div_chart') }}
                </script>
            </div>
        </section>
        <div class="homestatsbottom mt-5">
            <h2 class="text-center mt-2">Dernier Repas enregistré </h2>
            <div class="table-responsive-sm">
            <table class="table table-bordered mt-3">
                <thead>
                    <tr>
                        <th scope="col">Date</th>
                        <th scope="col">Petit Déjeuner</th>
                        <th scope="col">Déjeuner</th>
                        <th scope="col">Encas</th>
                        <th scope="col">Diner</th>
                        <th scope="col">Note de la journée</th>
                        <th scope="col">Supprimer</th>
                        <th scope="col">Editer</th>
                    </tr>
                </thead>

                <tbody>
                    {% for food in dernierRepas %}
                    <tr>
                        <th scope="row">{{ food.date_jour_repas| date('d/m/Y') }}</th>
                        <td>{{ food.petit_dejeuner }}</td>
                        <td>{{ food.dejeuner }}</td>
                        <td>{{ food.encas }}</td>
                        <td>{{ food.diner }}</td>
                        <td>{{ food.note_journee }}</td>
                        <td>
                            <a href="{{ path('app_food_delete', {'id': food.id}) }}"  onclick="return confirm('Etes-vous sure de vouloir supprimer ces repas?')">
                                Supprimer
                            </a>
                        </td>
                        <td>   
                            <a href="{{ path('app_food_update', {'id': food.id}) }}">
                                Éditer
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div> 
    </div>
</div> 



<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
<script>
const menuBurgerBtn = document.querySelector('.menuburgerbtn');
const menuCache = document.querySelector('.navmenuburger');
const masqueMenu = document.querySelector('.masquemenu');
const displayMenu = document.querySelector('.displayMenu');
const containerHomeUser = document.querySelector('.containerHomeUser');
const homeStats = document.querySelector('.homestats');




function addOrRemoveClass(element, classElement){
    const listOfClass = element.className.split(' ')
    let hasClass = 0
    listOfClass.forEach(c => {
        if (c === classElement) hasClass = 1
    });
    if (hasClass === 1) element.classList.remove(classElement)
    else element.classList.add(classElement)
};

menuBurgerBtn.onclick = function(){
    addOrRemoveClass(masqueMenu,'displayNone');
    addOrRemoveClass(menuCache, 'displayNone');
    addOrRemoveClass(containerHomeUser, 'marginleft200');
    addOrRemoveClass(displayMenu, 'displayBlock');
    addOrRemoveClass(homeStats, 'chartHomeStatsBurger');


};



//DoughnutChart
var value = {{ percent }};
var data = {
  datasets: [
    {
      data: [value, 100-value],
      backgroundColor: [
        "#FD5181",
        "#E4E8EB"
      ],
      hoverBackgroundColor: [
        "#FF6384",
        "#AAAAAA"
      ],
      hoverBorderColor: [
        "#FF6384",
        "#ffffff"
      ]
    }]
};

var myChart = new Chart(document.getElementById('myChart'), {
  type: 'doughnut',
  data: data,
  options: {
  	responsive: true,
    legend: {
      display: false
    },
    cutoutPercentage: 80,
    tooltips: {
    	filter: function(item, data) {
        var label = data.labels[item.index];
        if (label) return item;
      }
    }
  }
});

textCenter(value);

function textCenter(val) {
  Chart.pluginService.register({
    beforeDraw: function(chart) {
      var width = chart.chart.width,
          height = chart.chart.height,
          ctx = chart.chart.ctx;

      ctx.restore();
      var fontSize = (height / 114).toFixed(2);
      ctx.font = fontSize + "em sans-serif";
      ctx.textBaseline = "middle";

      var text = val+"%",
          textX = Math.round((width - ctx.measureText(text).width) / 2),
          textY = height / 2;

      ctx.fillText(text, textX, textY);
      ctx.save();
    }
  });
}
</script>
{% endblock %}